$header-gradient-1: hsl(13, 100%, 72%);
$header-gradient-2: hsl(353, 100%, 62%);
$lt-red: hsl(356, 100%, 66%);
$xlt-red: hsl(355, 100%, 74%);
$xdk-blue: hsl(208, 49%, 24%);
$white: hsl(0, 0%, 100%);
$xdk-grayblue: hsl(207, 13%, 34%);
$xdk-blackblue: hsl(240, 10%, 16%);
$xdk-grayblue: hsl(237, 17%, 21%);
$xdk-desatblue: hsl(237, 23%, 32%);
$footer: hsl(240, 2%, 79%);