@import './variables';
@import './header';
@import './design-section';
@import './art-section';
@import './features';

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Overpass', sans-serif;
	background: $white;
	overflow-x: hidden;
}