@import './variables';
@import './header';
@import './design-section';
@import './art-section';
@import './features';
@import './footer';

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Overpass', sans-serif;
	background: $white;
	// left: 0;
	overflow-x: hidden;

	li {
		list-style-type: none;
	}
}

.border-bottom {
	border-bottom: 2px solid $white;
}