#header {
  height: 300px;
  background: url("../images/bg-pattern-intro.png"), -webkit-gradient(linear, left top, left bottom, from(#ff8f70), to(#ff3d54));
  background: url("../images/bg-pattern-intro.png"), linear-gradient(#ff8f70, #ff3d54);
  background-position: center;
  padding: 30px 100px;
  border-bottom-left-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header img {
  height: 45px;
  cursor: pointer;
}

#header #nav-bar {
  width: 50%;
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header #nav-bar .nav-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 10px;
  height: 20px;
  margin-left: 50px;
}

#header #nav-bar .nav-div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header #nav-bar .nav-div div:nth-child(2), #header #nav-bar .nav-div div:last-child {
  margin-left: 20px;
}

#header #nav-bar .nav-div div button {
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  color: white;
  border: none;
  background: transparent;
  cursor: pointer;
}

#header #nav-bar .nav-div div img {
  height: 10px;
  cursor: pointer;
  margin-left: 3px;
}

#header #nav-bar .nav-div div .border-bottom {
  padding-bottom: 3.5px;
  border-bottom: 3px solid white;
}

#header #nav-bar .nav-div #connect {
  display: block;
  position: relative;
}

#header #nav-bar .nav-div #connect img {
  position: absolute;
  top: 5px;
  margin-left: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#header #nav-bar .nav-div #connect .see-more {
  position: absolute;
  width: 150px;
  height: 150px;
  margin-left: -30px;
  margin-top: 10px;
  background: white;
  border-radius: 10px;
  text-align: center;
  z-index: 1;
}

#header #nav-bar .nav-div #connect .see-more li {
  cursor: pointer;
}

#header #nav-bar .nav-div #connect .see-more li:not(:last-child) {
  margin-bottom: 10px;
}

#header #nav-bar .nav-div #connect .see-more li:hover {
  font-weight: bold;
}

#header #sign-in button {
  background: transparent;
  border: none;
  height: 40px;
  width: 120px;
  font-family: 'Overpass', sans-serif;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}

#header #sign-in #login {
  color: white;
}

#header #sign-in #sign-up {
  color: #ff525d;
  background: white;
  border-radius: 100px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#header #sign-in #sign-up:hover {
  background: rgba(255, 255, 255, 0.4);
  color: white;
}

#header #heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  left: 50%;
  top: 15%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  font-weight: bold;
  height: 150px;
}

#header #heading h1 {
  font-size: 3em;
}

#header #heading p {
  font-size: 1em;
  padding-top: 15px;
  padding-bottom: 25px;
}

#header #heading div button {
  width: 120px;
  height: 40px;
  font-family: 'Overpass', sans-serif;
  font-size: 1em;
  font-weight: bolder;
  background: transparent;
  border-radius: 100px;
  cursor: pointer;
}

#header #heading div #start {
  color: #ff525d;
  background: white;
  margin-right: 15px;
  border: none;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#header #heading div #start:hover {
  background: rgba(255, 255, 255, 0.4);
  color: white;
}

#header #heading div #learn-more {
  color: white;
  border: 3px solid white;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#header #heading div #learn-more:hover {
  background: white;
  color: #ff7a85;
}

.design {
  position: relative;
  color: #1f3f5b;
  padding-left: 200px;
  height: 50vh;
}

.design h2 {
  position: absolute;
  margin-top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.7em;
}

.design .design-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.design .design-content .info-wrapper {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40%;
  height: 100%;
  margin-top: 100px;
}

.design .design-content .info-wrapper h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.design .design-content .info-wrapper p {
  line-height: 1.5;
}

.design .design-content .info-wrapper .design-info-2 {
  margin-top: 50px;
}

.design .design-content .design-ilustration {
  position: absolute;
  right: -15%;
}

.design .design-content .design-ilustration img {
  height: 700px;
}

.art-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #25252d;
  margin-top: 150px;
  height: 40vh;
}

.art-section .art-info {
  color: white;
  width: 40%;
  margin-right: 100px;
}

.art-section .art-info h3 {
  font-size: 2em;
  margin-bottom: 20px;
}

.art-section .art-info p {
  line-height: 1.7;
  font-size: 1.05em;
}

.features-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50vh;
  margin-top: 100px;
}

.features-section .features-ilustration {
  width: 150vw;
}

.features-section .features-ilustration img {
  width: 100%;
}

.features-section .features-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150vw;
  padding: 0px 150px;
}

.features-section .features-wrapper div:not(:last-child) {
  margin-bottom: 50px;
}

.features-section .features-wrapper div h3 {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 5px;
}

.features-section .features-wrapper div p {
  line-height: 1.5;
  font-size: 1em;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #25252d;
  color: #c8c8cb;
  height: 30vh;
  border-top-right-radius: 100px;
  padding-bottom: 80px;
}

footer .footer-logo {
  margin: 70px 100px;
  cursor: pointer;
}

footer .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 200px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 80px;
  text-align: center;
}

footer .footer-wrapper div:not(:last-child) {
  margin-right: 200px;
}

footer .footer-wrapper div p {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 25px;
}

footer .footer-wrapper div li {
  font-size: 1em;
  line-height: 1.7;
  margin-bottom: 8px;
  cursor: pointer;
  position: relative;
  list-style-position: inside;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

footer .footer-wrapper div li .border-bottom {
  padding-bottom: 2px;
  border-bottom: 1px solid #c8c8cb;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Overpass', sans-serif;
  background: white;
  overflow-x: hidden;
}

body li {
  list-style-type: none;
}

.not-visible {
  visibility: hidden;
}

.visible-cnt {
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */